[user]
    # name = Your Name
    # email = your@email.com

[core]
    autocrlf = input
    editor = vim

[init]
    defaultBranch = main

[pull]
    rebase = false

[alias]
    st = status
    co = checkout
    br = branch
    lg = log --oneline --graph --decorate
